Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

xterm*faceName: Iosevka
xterm*faceSize: 11
xterm*renderFont: true
xterm*font: fixed
xterm*boldFont: fixed
xterm*cursorBlink: true
xterm*loginShell: true
xterm*vt100*geometry: 80x26
xterm*saveLines: 999999
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-256color
xterm*eightBitInput: false
xterm*foreground: rgb:ff/ff/ff
xterm*background: rgb:00/00/00
xterm*boldMode: false
xterm*colorBDMode: true

XTerm.vt100.translations: #override \n\
  Ctrl <Key> j: smaller-vt-font() \n\
  Ctrl <Key> k: larger-vt-font()

Xmessage*defaultButton:            okay
Xmessage*form.message.Scroll:      WhenNeeded

*.font: xft:Iosevka:style=Regular:size=11
*.boldFont: xft:Iosevka:style=Bold:size=11
*.italicFont: xft:Iosevka:style=Italic:size=11
*.boldItalicFont: xft:Iosevka:style=Bold Italic:size=11



xcursor.theme: left_ptr
